div.white-box.login-box
	
	h1.logo Ballons.IO
	hr	
	p	
		strong \Ballons.IO 
		\is a web chat server and client ready to use. It's build with the help of node.JS, Socket\.IO and Redis.

	p
		\It's developed by 
		a(href="http://gravityonmars.com", target="_blank") Gravity On Mars
		\ for free use. You can use it on your projects without asking.

	h4 To start using it, please sign in:
	div
		a#twitbutt.sign-in-twitter(href="#") cqewf
