#container
	header
		ul
			li= room_name

		a.logout(href="#") Logout
		
		div.logged-box
			img.avatar(src="http://placehold.it/30x30")
			span.logged-as Logged in as:
			span.username Ricardo Rauch

	ul.chat-list
		li
			div.status-bar
				span.status.available
			div.user-space
				img.avatar(src="http://placehold.it/30x30")
				span.username Ricardo Rauch

	div#main.content(role="main")
		aside#example2.modal
			div
				h2 Another modal box
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				a(href="#close",title="Close") Close

		div.chats
			div.chat-box
				div.user
					img.avatar(src="http://placehold.it/30x30")
				div.message-box
					span.username Ricardo Rauch says:
					div.message-text Lorem ipsum dolor sit amet, consectetur adipiscing elit.

		div.type-message
			div.user
				img.avatar(src="http://placehold.it/30x30")
				a(href="#")

			textarea#msgbox(name="Name",rows="8",cols="40")
			a.send-message(href="#") Send Message	

	footer

	script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js")
	script()
		window.jQuery || document.write('<script src="js/libs/jquery-1.6.2.min.js"><\/script>')
		
	script(defer,src="js/plugins.js")
	script(defer,src="js/script.js")				
	
	script()
		// Change UA-XXXXX-X to be your site's ID
		window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
		Modernizr.load({
			load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
		});

	//if lt IE 7
		html.no-js.ie6.oldie(lang="en")
			script(src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js")
			script()
				window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})


ul.user_list


ul.log


p
	input#msgbox(type='text')
p
	button#msgbutton Enviar mensaje

span#room_id(style="display:none")= room_id
script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js")
script(src="/socket.io/socket.io.js")
script()
	$(document).ready(function(){
		var socket = io.connect('htlentp://localhost');
		var nickname = prompt('Cual es tu nickname?');
		socket.emit('set nickname',{nickname: nickname,room_id:$('#room_id').text()});	
		
		socket.on('new user',function(data){
			$('.chat-list').append('<li><div class="status-bar"><span class="status available"></span></div><div class="user-space"><img src="http://placehold.it/30x30" class="avatar"><span class="username">'+data.nickname+'</span></div></li>');
		});

		socket.on('ready',function(data){
			$.each(data.user_list,function(k,v){
				$('.chat-list').append('<li><div class="status-bar"><span class="status available"></span></div><div class="user-space"><img src="http://placehold.it/30x30" class="avatar"><span class="username">'+v+'</span></div></li>');
			});
		});

		socket.on('new msg',function(data){
			$('.chats').append('<div class="chat-box"><div class="user"><img src="http://placehold.it/30x30" class="avatar"></div><div class="message-box"><span class="username">'+data.nickname+' says:</span><div class="message-text">'+data.msg+'</div></div></div>');
		});

		socket.on('disconnect',function(){
			socket.emit('room leave',{'room_id':$('#room_id').text()});	
		});

		$('.send-message').click(function(e){
			socket.emit('my msg',{'msg': $('#msgbox').val(),'room_id':$('#room_id').text()});
		});
	});

