h3 Available rooms
p
	ul#available_rooms
	-for(var room in rooms){
		li
			a(href='/room/'+room)= rooms[room]
	-}


h3 Create new room
form(method="POST",action="/create")
	p
		label Room name
		input.text(type="text",name="room_name", placeholder="Enter the name")

	p
		input(type="submit",value="Send")