/* HTML5 ✰ Boilerplate
 * ==|== normalize ==========================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author: Ricardo Rauch
   ========================================================================== */

body{ text-shadow: 0 1px 0 rgba(255,255,255,1); background: url('../img/bg.png')}
p{line-height: 22px; color: #666}

a{font-weight: bold;}
a:visited { color: inherit}
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

input[type="submit"]{
	border: 1px solid #999;
	color: #666;
	box-shadow: 0 1px 2px rgba(0,0,0,.3);
	border-radius: 5px;
	font-weight: bold;
	font-size: 12px;
	padding: 6px 10px;
	text-shadow: 0 1px 0 white;
	background-image: -webkit-gradient(linear, 0 0, 0 26, color-stop(0.076, #f7f7f7), to(#d5d5d5));
	background-image: -webkit-linear-gradient(#f7f7f7 7.6%, #d5d5d5);
	background-image: -moz-linear-gradient(#f7f7f7 7.6%, #d5d5d5);
	background-image: -o-linear-gradient(#f7f7f7 7.6%, #d5d5d5);
}

header{
	background-image: -webkit-gradient(linear, 0 0, 0 48, color-stop(0.041, #4f545a), color-stop(0.5, #31363c));
	background-image: -webkit-linear-gradient(#4f545a 4.1%, #31363c 50%);
	background-image: -moz-linear-gradient(#4f545a 4.1%, #31363c 50%);
	background-image: -o-linear-gradient(#4f545a 4.1%, #31363c 50%);
	position: fixed;
	width: 100%;
	box-shadow: 0 2px 2px black;
	z-index: 1000;
	height: 42px;
}

header .dropdown-room{
	text-shadow: 0 1px 1px black;
	font-weight: bold;
	background-image: -webkit-gradient(linear, 0 0, 0 27, color-stop(0.074, #555a60), to(#3c4147));
	background-image: -webkit-linear-gradient(#555a60 7.4%, #3c4147);
	background-image: -moz-linear-gradient(#555a60 7.4%, #3c4147);
	background-image: -o-linear-gradient(#555a60 7.4%, #3c4147);
	font-size: 14px; color: white; border: 1px solid #2C3037; width: 233px; float: left; list-style: none; margin: 6px; border-radius: 5px}

.dropdown-room .dropdown{display: block; float: right; width: 18px; height: 19px; background: url('../img/dropdown.png') no-repeat 94% center ;   margin: 4px 6px 0 0;}
.dropdown-room a{display: none;  padding: 5px 5px 5px 10px; border-radius: 5px;  text-shadow: none; text-decoration: none; color: white; }
.dropdown-room:hover {background: white; box-shadow: 0 1px 2px rgba(0,0,0,.4)}
.dropdown-room:hover .dropdown{display: none;}
.dropdown-room:hover a{display: block;  padding: 5px 5px 5px 10px; color: black}
.dropdown-room:hover a:hover{
	color: white;
	border-radius: 4px;
	text-shadow: 0 -1px 1px black;
	background:  -webkit-linear-gradient(#68B6EB 7.4%, #0486DD);
	background:  -moz-linear-gradient(#68B6EB 7.4%, #0486DD);
	background:  -o-linear-gradient(#68B6EB 7.4%, #0486DD);
}
.dropdown-room a.current{display: block; }
.dropdown-room a:last-child{border-bottom: 0; }

header .logged-box{display: none;float: right; width: 180px; margin: 4px 0}
header .logged-box .avatar{float: left; margin-right: 10px}
header .logged-box span{color: white; text-shadow: 0 1px 0 black; display: block;}
header .logged-box .logged-as{font-size: 11px; margin: 3px 0}
header .logout{float: right; margin: 6px 10px 0 0; box-shadow: 0 1px 2px black; background-color: #F5CFFF; background: url('../img/icon-logout.png') center no-repeat, -webkit-linear-gradient(#F5CFFF , #CC00FF); text-indent: -1000em; border-radius: 100px; display: block; width: 30px; height: 30px; }



img.avatar{background: white; padding: 2px; border: 1px solid #ccc; box-shadow: 0 1px 2px rgba(0,0,0,.1)}
.content .username{font-weight: bold; }

ul.chat-list{overflow: scroll; padding: 0; margin: 0; list-style: none; width: 240px;  background: #EFEFEF; position: absolute; top: 40px; padding-top: 4px; bottom: 0; border-right: 1px solid rgba(0,0,0,.4); box-shadow: 1px 0 0 rgba(255,255,255,.4) }
ul.chat-list li{font-weight: bold; color: #666; position: relative; border-bottom: 1px solid #ccc}
ul.chat-list li:hover{background-color: #f3f3f3}
ul.chat-list li .status-bar{background-color: rgba(0,0,0,.05); width: 24px; float: left;  position: absolute; bottom: 0; top: 0}
ul.chat-list li img.avatar{width: 30px; height: 30px; margin-right: 4px}
ul.chat-list li .user-space{padding: 10px; margin-left: 20px}
ul.chat-list li .status{border: 1px solid #333; width: 10px; height: 10px;display: block; border-radius: 100px; top: 22px; position: absolute; left: 5px}
ul.chat-list li .status.available{border: 1px solid #486D14; background-image: -webkit-linear-gradient(bottom, #90D42F, #CBFF80)}
ul.chat-list li .status.not-available{border: 1px solid #A64343; background-image: -webkit-linear-gradient(bottom, #DA3839, #FF8081)}
ul.chat-list li .status.idle{border: 1px solid #807244; background-image: -webkit-linear-gradient(bottom, #FBC710, #FFE99C)}

.content{left: 256px; right: 10px; top: 40px; position: absolute; bottom: 0;}

.content .chats{padding-top: 10px; overflow: scroll; position: absolute; bottom: 180px; top: 0; right: 0; left: 0}
.content .chats .chat-box{margin-bottom: 10px; }
.content .chats .chat-box .user{width: 60px; }
.content .chats .chat-box .message-box{line-break: strict ; position: relative; display: block; margin-left: 68px; margin-bottom: 16px; background: white; 
	background-image: -webkit-linear-gradient(#fff 7.4%, #f3f3f3);
	background-image: -moz-linear-gradient(#fff 7.4%, #f3f3f3);
	background-image: -o-linear-gradient(#fff 7.4%, #f3f3f3);	
padding: 10px; border-radius: 5px; box-shadow: 0 -1px 0 white inset, 0 2px 2px rgba(0,0,0,.2);  color: #666}
.content .chats .chat-box .message-box .username{display: block; margin-bottom: 10px}
.content .chats .chat-box .message-box .message-text{line-height: 24px}
.content .chats .chat-box img.avatar{width: 46px; height: 46px; float: left;}

.chat-corner{
	background: white;
	width: 12px;
	height: 12px;
	-webkit-transform:rotate(134deg);
	position: absolute;
	left: -4px;
}

/* Type message */
.type-message{box-shadow: 0 0 10px black inset, 0 2px 2px rgba(0,0,0,.4); height: 120px; background: #333; bottom: 10px; right: 0; left: 0; position: absolute; background: url('../img/bg-2.png'); padding: 14px; border-radius: 5px;}
.type-message .user{position: absolute}
.type-message .user img{width: 50px}
.type-message textarea{ box-shadow: 0 2px 4px rgba(0,0,0,.4) inset; border: 1px solid black; left: 80px; position: absolute; bottom: 10px; padding: 4px; top: 10px; right: 10px; border-radius: 5px}

.send-message{
	background: url('../img/icon-send.png') 16px 8px no-repeat, -webkit-linear-gradient(#68B6EB 7.4%, #0486DD);
	background: url('../img/icon-send.png') 16px 8px no-repeat, -moz-linear-gradient(#68B6EB 7.4%, #0486DD);
	background: url('../img/icon-send.png') 16px 8px no-repeat, -o-linear-gradient(#68B6EB 7.4%, #0486DD);
	
	padding: 8px 20px 8px 34px;
	border-radius: 100px;
	position: absolute;
	bottom: 10px;
	font-weight: bold;
	color: #fff;
	left: 80px;
	text-decoration: none;
	text-align: center;
	box-shadow: 0 2px 2px black;
	text-shadow: 0 1px 0 rgba(0,0,0,.4);
}

.login-box h4{text-align: center;}
.sign-in-twitter {
	background: url('../img/twitter_signin.png') no-repeat 0 0;
	width: 151px;
	height: 24px;
	display: block;
	margin: auto;
	text-indent: -1000em;
}

.white-box .logo{width: 158px; height: 38px; background: url('../img/logo.png'); display: block; text-indent: -1000em}

.sign-in-twitter:hover{background-position: center}
.sign-in-twitter:active{background-position: bottom center}

.white-box{margin: auto; overflow: hidden; width: 300px; background: white; padding: 20px; border-radius: 5px; box-shadow: 0 1px 2px rgba(0,0,0,.4); margin-top: 10%}
.white-box.room-list{width: 500px}
.white-box .half{width: 50%; float: left;}
.white-box input[type="text"]{width: 96%; padding: 2%; border: 1px solid #ccc; }

/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* ==|== media queries ====================================================== */

@media only screen and (min-width: 480px) {


}

@media only screen and (min-width: 768px) {

}



/* ==|== print styles ======================================================= */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
