ul.chat-list
	-user_list.forEach(function(username){
		li
			.status-bar
				span.status.available
			.user-space
				img.avatar(src=" http://twitter.com/api/users/profile_image/"+username)
				span.username= username
	-});

