.online
	h4.inner-padding ONLINE
	.people
		-user_list.forEach(function(username) {
			a(class='available', href='#', data-username='#{ username }')
				b
				= username
		-});
	// .people 
// .online 
