.online
	h4.inner-padding ONLINE
	.people
		-users_list.forEach(function(user) {
			a(class='#{ user.status }', href='#', data-username='#{ user.username }')
				b
				= user.username
		-});
	// .people 
// .online 
