!!! 5
//if lt IE 7
	html(class="no-js ie6 oldie", lang="en")
//if IE 7
	html(class="no-js ie7 oldie", lang="en")
//if IE 8
	html(class="no-js ie8 oldie", lang="en")
// [if gt IE 8] <!
html(class="no-js", lang="en")
	// <![endif]

	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge, chrome=1")

		title Balloons.IO

		meta(name="description", content="")
		meta(name="author", content="")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		

		link(rel="stylesheet", href="https://s3.amazonaws.com/social-buttons/css/social-buttons.css")
		link(rel="stylesheet", href="/js/libs/fancy-box/jquery.fancybox.css")
		link(rel="stylesheet", href="/css/style.css")
  
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
		script(src="/js/libs/modernizr-2.5.3.min.js")

	- var body_class = (("undefined" != typeof room) ? 'fancy-theme' : 'home-page')
	body(class=body_class)
		block content
