extends layout

block content
	.color-line
	.wrap
		header
			include status_dropdown
			include rooms_dropdown
			a.button-circle.invite.fancybox(href='#invite', style="display:none;")
				strong
					span
						i
			#invite.modal.modal-invite(style='display: none')
				h2 Invite people to join the room
					.modal-content
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
					.tweet-user
						input.(type='text', name='', value='')
					.tweet-user
						input.(type='text', name='', value='')
					.tweet-user
						input.error(type='text', name='', value='')
					.tweet-user
						input.(type='text', name='', value='')
					.tweet-user
						input.(type='text', name='', value='')
					.tweet-user
						input.(type='text', name='', value='')
				// .modal-content 
					.modal-footer
						a.button.invite-people(href='#') Invite these people
				// .modal-footers 
					// #invite 
			a.button-circle.lock(href='#', style="display:none;")
				strong
					span
						i
		sidebar
			include chat_list
			include files_list
			a(href="https://github.com/gravityonmars/Balloons.IO", target="_blank", class="sidebar-open-source") get the code from github

		.content(role='main')
			.chat
				// chat-content
				.history
					//historical submits
				.current
					//current submits
			// .chat 

			.line-chat
			.line-chat.second

			.chat-input
				input.text(type='text', name='', placeholder="Your Message", value='')
				// .chat-input

	// .wrap

	span#room_name(style="display:none")= room.name
	span#username(style="display:none")= user.nickname
	span#provider(style="display:none")= user.provider

	include templates/chat_tmpl

	script(defer, src="/js/libs/fancy-box/jquery.fancybox.pack.js")
	script(defer, src="/js/plugins.js")
	script(defer, src="/js/libs/ICanHaz.min.js")
	script(src="/socket.io/socket.io.js")

	script(defer, src="/js/script.js")              
