script#chat_box(type='text/html')
  .chat-box(data-user='{{ nickname }}', data-type='{{ type }}')
    .avatar
      img(src='http://twitter.com/api/users/profile_image/{{ nickname }}')
    h5
      | {{ nickname }}
    {{> chat_box_text }}

script#chat_box_text(type='text/html')
  p
    span.date {{ time.getHours }}:{{ time.getMinutes }} {{ tt }}
    | {{ msg }}

script#chat_notice(type='text/html')
  .notice
    span.date {{ time.getHours }}:{{ time.getMinutes }} {{ tt }}
    |  {{ noticeMsg }}

script#people_box(type='text/html')
  a(class='{{ status }}', href='#', data-username='{{ nickname }}')
    b
    | {{ nickname }}
