!!! 5
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Balloons.IO 
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='https://s3.amazonaws.com/social-buttons/css/social-buttons.css')
    link(rel='stylesheet', href='css/style.css')
    //if lt IE 7
      p.chromeframe
        | Your browser is
        em ancient!
        a(href='http://browsehappy.com/') Upgrade to a different browser
        | or
        a(href='http://www.google.com/chromeframe/?redirect=true') install Google Chrome Frame
        | to experience this site.
  body.homepage
    .homepage-col.public-rooms
      h3 Private Rooms
      //
         <input class="input-fake" placeholder="Enter your room name"> 
      .homepage-col-content
        h4
          | You must to be authenticated to see private rooms you created or you been invited.
        p
          a.sb.sb-big.sb-facebook(href='#')
            i
            span Connect with Facebook
            strong 12k have done this.
        p
          a.sb.sb-big.sb-twitter(href='#')
            i
            span Connect with Twitter
            strong 12k have done this.
      //
         .homepage-col-content 
    //
       .homepage-col 
    .homepage-col.private-rooms
      h3 Public Rooms
      input.input-fake(placeholder='Do you want a new room? Enter a name')
      ul.list-rooms
        li
          a(href='#')
            | Room Name
            span 3
        li
          a(href='#')
            | Room Name
            span 3
        li
          a(href='#')
            | Room Name
            span 3
        li
          a(href='#')
            | Room Name
            span 3
        li
          a(href='#')
            | Room Name
            span 3
        li
          a(href='#')
            | Room Name
            span 3
        li
          a(href='#')
            | Room Name
            span 3
        li
          a(href='#') Room Name
        li
          a(href='#') Room Name
        li
          a(href='#') Room Name
        li
          a(href='#') Room Name
        li
          a(href='#') Room Name
        li
          a(href='#') Room Name
        li
          a(href='#') Room Name
        li
          a(href='#') Room Name
        li
          a(href='#') Room Name
        li
          a(href='#') Room Name
        li
          a(href='#') Room Name
        li
          a(href='#') Room Name
        li
          a(href='#') Room Name
        li
          a(href='#') Room Name
        li
          a(href='#') Room Name
        li
          a(href='#') Room Name
        li
          a(href='#') Room Name
        li
          a(href='#') Room Name
    //
       .homepage-col 
    .homepage-left
      img(src='img/logo.png', width='217', height='239', alt='Logo')
      .features
        .feature.feature-one
          i
          .feature-data
            h4 Something goes here
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam cursus iaculis metus eget viverra.
          //
             .feature-data 
        //
           .feature 
        .feature.feature-two
          i
          .feature-data
            h4 Something goes here
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam cursus iaculis metus eget viverra.
          //
             .feature-data 
        //
           .feature 
        .feature.feature-three
          i
          .feature-data
            h4 Something goes here
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam cursus iaculis metus eget viverra.
          //
             .feature-data 
        //
           .feature 
      //
         .features 
      a.footer(href='https://github.com/gravityonmars/Balloons.IO')  Open Source Project
    //
       .homepage-left 
